.card{
    display: flex;
    flex-direction: column;
    outline: 1px solid rgba(128, 128, 128, 0.282);
    width: 30%;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.632);
}

.card:hover{
    .coursebtns{
        visibility: visible;
    }

    .lineDiv{
        visibility: visible;
    }
    cursor: pointer;
}

.courseImage{
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.courseInfo{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2vw;
}

.courseName{
    font-weight: 600;
    font-size: 1.2vw;
}

.courseInstructor{
    font-weight: 600;
    color: #6c757d;
}

.courseActions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2vw;
    padding-bottom: 1vw;
    gap: 5px;
}

.lineDiv{
    background-color: orange;
    width: 100%;
    height: 1px;
    visibility: hidden;
}

.coursebtns{
    border: none;
    color: orange;
    background-color: white;
    font-weight: 600;
    font-size: 1.2vw;
    visibility: hidden;
}