.MuiChartsTooltip-text,
.MuiChartsLegend-label,
text {
    fill: white !important; 
}
.MuiChartsAxis-label,
.MuiChartsAxis-tickLabel {
    fill: white !important;
}
.MuiChartsLegend-root {
    color: white !important;
}

.MuiChartsAxis-label, text {
  padding-right: 20px; /* Adjust padding as needed */
}

.mainExpenseTracker{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(60deg, #171c22 0%, #0b1219 100%);
  width: 100%;
  overflow-x: hidden;
  color: white;
  box-sizing: border-box;
}

.dashboard{
  display: flex;
  flex-direction: column;
  margin: 3vh;
  gap: 20px;
}

.budgetCategories{
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
}

.budgetCategoryHeader{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.expensedetails{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  box-sizing: border-box;
}

.boxes{
  outline: 1px solid #00e5ff;
  border-radius: 10px;
  padding: 1vw 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  transition: 0.2s;
}

.boxes:hover{
  outline: 1px solid #6cf0ff;
  box-shadow: 0px 0px 3px 4px grey;
  cursor: pointer;
}

.piegau{
  display: flex;
  gap: 20px;
}

.chartboxes{
  outline: 1px solid rgba(255, 255, 255, 0.384);
  height: 50vh;
  width: 50%;
  padding: 1vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px #1f6f78;
}

.graphrep{
  display: flex;
  gap: 20px;
}

.barGraph{
  padding: 1vw 2vw;
  width: 50%;
  height: 50vh;
  outline: 1px solid rgba(255, 255, 255, 0.458);
  box-shadow: 0px 0px 2px 2px #2b9daa;
}

.lineGraph{
  padding: 1vw 2vw;
  width: 50%;
  height: 50vh;
  outline: 1px solid rgba(255, 255, 255, 0.458);
  box-shadow: 0px 0px 2px 2px #2b9daa;
}


.amount{
  display: flex;
  gap: 0.2rem;
  width: 100%;
  outline: 1px solid rgba(255, 255, 255, 0.384);
}

.symbol{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.384);
}

.figure{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.tableheader{
  display: flex;
  justify-content: space-between;
}

.tableHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tableEditor{
  display: flex;
  gap: 10px;
  padding: 1vw 2vw;
}


.Ad{
  background-image: linear-gradient(60deg, #171c22 0%, #0b1219 100%);
  outline: 1px solid rgba(255, 255, 255, 0.384);
  box-shadow: 0px 0px 2px 2px #1f6f78;
  transition: background-image box-shadow 3s;
}

.Ad:hover{
  cursor: pointer;
  background-image: linear-gradient(60deg, #1f6f78 0%, #1f6f78 100%);
  box-shadow: none;
  outline: none;
}

.Re{
  background-color: red;
}

.Re:hover{
  cursor: pointer;
}

.tableEditorButtons{
  border: none;
  color: white;
  font-size: 1.2vw;
  padding: 0.5vw 1vw;
  box-sizing: border-box;
  font-weight: 600;
}

tr{
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  color: white;
  outline: 1px solid rgba(255, 255, 255, 0.458);
  box-shadow: 0px 0px 2px 2px #1f6f78;
  border-radius: 3px;
}

td, th{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  padding: 1.1vw;
}

tr:hover{
  cursor: pointer;
  background-image: linear-gradient(60deg, #323d4b8f 0%, #33495e97 100%);
}

.expenseformback {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #0b121992;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.expenseForm {
  position: relative;
  padding: 3vh 4vw; /* Added more padding for spacing */
  display: flex;
  flex-direction: column;
  gap: 2vw; /* Increased gap for more spacing between elements */
  width: 30vw; /* Slightly increased width for more space */
  height: auto;
  backdrop-filter: blur(9px);
  border: none;
  outline: 1px solid white;
  box-shadow: 0px 0px 5px 3px #b07d2676;
  border-radius: 0.5rem; /* Added rounded corners */
}

.expenseFormHeader {
  display: flex;
  justify-content: space-between;
}

.formInput {
  width: 100%;
  box-sizing: border-box;
  padding: 1vw; /* Increased padding for better input field size */
  color: white;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.458);
  background-color: transparent;
}

.formInput:focus {
  box-shadow: 0px 0px 3px 2px #2b9daa;
  background-color: #22282f;
}

.categorySelection {
  position: relative;
}

.optionsLabel {
  display: flex;
  justify-content: space-between;
  outline: 1px solid rgba(255, 255, 255, 0.458);
  padding: 0.5vw 2vw;
  border-radius: 0.3rem;
  /* margin-bottom: 1.5vh; Increased margin for better spacing */
  transition: box-shadow background-color 0.3s;
}

.optionsLabel:hover {
  background-color: #22282fd8;
  cursor: pointer;
}

.optionsLabel:focus {
  background-color: #22282f;
  box-shadow: 0px 0px 3px 2px #2b9daa;
}

.catOptions {
  width: 100%;
  background-color: #22282f;
  backdrop-filter: blur(5px);
  outline: 1px solid rgba(255, 255, 255, 0.458);
  padding: 0.5vw 1vw;
  border-radius: 0.3rem;
  overflow-y: auto;
  max-height: 20vh; /* Increased max-height to ensure the dropdown stays within the form */
  box-sizing: border-box;
  z-index: 3; /* Ensure the dropdown stays on top */
}

.catOptions ul {
  padding: 0;
  margin: 0;
}

.catOptions li {
  list-style-type: none;
  padding: 0.5vw;
}

.catOptions li:hover {
  cursor: pointer;
  background-color: #0b121992;
  border-radius: 0.3rem;
}

/* .productName, */
.expenseAmount {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.newExpense {
  padding: 0.5vw 3vw;
  background-color: #0b1219;
  color: white;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.458);
  box-shadow: 0px 0px 3px 2px #2b9daa;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.newExpense:hover {
  cursor: pointer;
  background-color: #18a38e;
  box-shadow: 0px 0px 3px 2px #0b121992;
}

.closeBtn {
  transition: box-shadow 0.3s, background-color 0.3s;
}

.closeBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 2px #ff0000c6;
  background-color: #ff00005b;
}

